body {
    background: rgb(104, 104, 255);
    font: normal 15pt Arial;
    text-align: center;
}
header{
    color: black;
    text-align: center;
}
img {
    width: 80%;
    height: auto;
  }
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

.hora {
    font-weight: bold;
    text-align: left;
}

.dia-semana {
    font-weight: bold;
    text-align: left;
}